<% layout('layouts/boilerplate') -%> 

<div class="row justify-content-evenly px-2">
  <div class="col-6">
    <h2 class="">Leave a Review</h2>
    <form action="/location/<%=id%>/reviews" method="POST" novalidate class="mb-3 needs-validation">
      <input class="form-control d-none" type="number" value="<%=id%>" name="review[locationId]" readonly>
      <div class="mb-3">
          <label class="form-label" for="rating">Rating</label>
          <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
      </div>
      <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
          <div class="valid-feedback">
              Looks good!
          </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>