<% layout('layouts/boilerplate') -%> 

  <h1>This is the homepage! These are the Pinball Location Regions!</h1>

  <% for (i=0; i < regions.length; i++) {%> 
    <div class="card" style="width: 18rem;">
      <div class="card-body"> 
        <% const id = regions[i].name %> 
        <a href="/locations/<%=id%>" class="card-link" > <%= regions[i].full_name %> </a>
      </div>
    </div>
  <% } %> 

  

  

  



 
  


