<% layout('layouts/boilerplate') -%> 

  <h1 class="my-3 px-2">Click on a Region to Find Locations with Pinball Machines!</h1>

  <div class="row bg-secondary bg-opacity-10 px-2">
    <% for (i=0; i < regions.length; i++) {%>
      <% const id = regions[i].name %>
      <div class="col-xs-12 col-sm-12 col-md-3 text-center my-2">
        <a href="/locations/<%=id%>" class="" > <b><%= regions[i].full_name %></b> </a>
      </div>
    <% } %>
  </div>

  

  

  



 
  


