.review {
  color: #fff;
  margin: 1.5rem;
}

.signIn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.signIn h2 {
  margin: 0;
  flex: 1;
  text-align: center;
  font-size: 4vw;
}

.signIn button {
  background-color: #fff;
  color: #D64848;
  font-size: 3vw;
  border: #fff;
  border-radius: .75rem;
}

.signIn button:hover {
  background-color: pink;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .signIn {
    margin-top: 2rem;
    /* Added margin-top */
    margin-bottom: 2rem;
    /* Added margin-bottom */
  }

  .review h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    /* Added margin-bottom */
  }

  .signIn button {
    font-size: 1.75rem;
  }
}
